{% extends "base.html" %}
{% block content %}
<h1>Card Form</h1>
<style>
    .form-control-file {width: 50%;}
</style>
<form action="" id="card-form" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div align="center">
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.promt.label }}<br>
            {{ form.promt(class="form-control") }}
            {% for error in form.promt.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <div style="width: 45%; height: auto;">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in files %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="{% if loop.first %}5000{% else %}2000{% endif %}">
                            <img src="{{ url_for('static', filename='temp/' + image) }}" class="d-block w-100" alt="Image {{ loop.index }}">
                        </div>
                    {% endfor %}
                </div>
                {% if image %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>
        </div>
        <p>
            {{ form.images.label }}<br>
            {{ form.images(class="form-control-file", id="images") }}
            {% for error in form.images.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit_btn(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </div>
</form>
<script>
    document.getElementById('images').addEventListener('change', function() {
        console.log(document.getElementById("card-form"));
        document.getElementById("card-form").submit();
    });
</script>
{% endblock %}
