{% extends "base.html" %}
{% block content %}
<h1>Card Form</h1>
<style>
    .form-control-file {width: 50%;}
</style>
<form action="/create_card" id="card-form" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div align="center">
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.promt.label }}<br>
            {{ form.promt(class="form-control") }}
            {% for error in form.promt.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
            <img src="data/temp/card_1.jpg">
        <p>
            {{ form.images.label }}<br>
            {{ form.images(class="form-control-file", id="images") }}
            {% for error in form.images.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit_btn(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </div>
</form>
<script>
    document.getElementById('images').addEventListener('change', function() {
        console.log(document.getElementById("card-form"));
        document.getElementById("card-form").submit();
    });
</script>
{% endblock %}
