{% extends "base.html" %}
{% block content %}
    <style>
    table, tr, td {
        border: none;
    }
    </style>
    <h1>{{ title }}</h1>
    <div>
        {% if data %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                <h1>
                    Promt
                </h1>
                <h2>{{ data["promt"] }}</h2>
            </p>
            <p>
                {{ form.answer.label }}<br>
                {{ form.answer(class="form-control") }}
                {% for error in form.answer.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.choices.label }}<br>
                {{ form.choices() }}
                {% for error in form.choices.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p><h4>current card rating: {{ data["rating"] }}</h4></p>
            <p>{{ form.submit_btn(type="submit", class="btn btn-secondary") }}</p>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in data["paths"] %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="{% if loop.first %}5000{% else %}2000{% endif %}">
                            <img src="{{ url_for('static', filename='cards/' + image) }}" class="d-block" height="600px" alt="Image {{ loop.index }}">
                        </div>
                    {% endfor %}
                </div>
                {% if data["paths"] %}
                 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Previous</span>
                 </button>
                 <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Next</span>
                 </button>
                {% endif %}
            </div>
        </form>
        {% endif %}
        <div>
            <h3>{{ found_card }}</h3>
        </div>
    </div>
{% endblock %}